<div class="armor-card" data-item-id="{{_id}}">
    <div class="armor-info armor-name">
        <p>{{name}}</p>
    </div>
    {{#if data.slashProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.slashProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.slashProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.pierceProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.pierceProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.pierceProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.bluntProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.bluntProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.bluntProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.energyProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.energyProtection"}}
        </div>
    </div>
    <div class="armor-stats">
        <div class="armor-statvalue">
            {{data.energyProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.shockProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.shockProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.shockProtection}}
        </div>
    </div>
    {{/if}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.terms.coverage"}}
        </div>
        <div class="armor-statvalue">
            {{data.coverage}}
        </div>
    </div>
</div>