<div class="armor-card" data-item-id="{{_id}}">
    <div class="armor-info armor-name">
        <p>{{name}}</p>
    </div>
    {{#if data.slashProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.slashProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.slashProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.pierceProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.pierceProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.pierceProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.bluntProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.bluntProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.bluntProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.energyProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.energyProtection"}}
        </div>
    </div>
    <div class="armor-stats">
        <div class="armor-statvalue">
            {{data.energyProtection}}
        </div>
    </div>
    {{/if}}
    {{#if data.shockProtection}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.armor.shockProtection"}}
        </div>
        <div class="armor-statvalue">
            {{data.shockProtection}}
        </div>
    </div>
    {{/if}}
    <div class="armor-stats">
        <div class="stat-name">
            {{localize "cd10.terms.coverage"}}
        </div>
        <div class="armor-statvalue">
            {{#if (eq data.coverage "head")}}
                {{localize "cd10.armor.coverage.head"}}
            {{else if (eq data.coverage "chest")}}
                {{localize "cd10.armor.coverage.chest"}}
            {{else if (eq data.coverage "torso")}}
                {{localize "cd10.armor.coverage.torso"}}
            {{else if (eq data.coverage "torsoArms")}}
                {{localize "cd10.armor.coverage.torsoArms"}}
            {{else if (eq data.coverage "arms")}}
                {{localize "cd10.armor.coverage.arms"}}
            {{else if (eq data.coverage "legs")}}
                {{localize "cd10.armor.coverage.legs"}}
            {{/if}}
        </div>
    </div>
</div>