<div class="armor-card" data-item-id="{{_id}}">
    <div class="armor-info armor-name">
        <p>{{name}}</p>
    </div>
    <img 
        src="{{img}}"
        title="{{name}}"
        class="item-img"
    />
     <div class="armor-pair-box">
        <div class="armor-stats">
            {{#if data.slashProtection}}
            <div class="stat-name">
                {{localize "cd10.armor.slashProtection"}}
            </div>
            <div class="armor-statvalue">
                {{data.slashProtection}}
            </div>
            {{/if}}
            {{#if data.pierceProtection}}
            <div class="stat-name">
                {{localize "cd10.armor.pierceProtection"}}
            </div>
            <div class="armor-statvalue">
                {{data.pierceProtection}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="armor-pair-box">
        <div class="armor-stats">
        {{#if data.bluntProtection}}
            <div class="stat-name">
                {{localize "cd10.armor.bluntProtection"}}
            </div>
            <div class="armor-statvalue">
                {{data.bluntProtection}}
            </div>
        {{/if}}
        {{#if data.energyProtection}}
            <div class="stat-name">
                {{localize "cd10.armor.energyProtection"}}
            </div>
            <div class="armor-statvalue">
                {{data.energyProtection}}
            </div>
        {{else}}
            {{#if data.shockProtection}}
                <div class="stat-name">
                    {{localize "cd10.armor.shockProtection"}}
                </div>
                <div class="armor-statvalue">
                    {{data.shockProtection}}
                </div>
            {{/if}}
        {{/if}}
        </div>
    </div>
    <div class="armor-pair-box">
        <div class="armor-stats">
            {{#if data.energyProtection}}
                <div class="stat-name">
                    {{localize "cd10.armor.shockProtection"}}
                </div>
                <div class="armor-statvalue">
                    {{data.shockProtection}}
                </div>
            {{/if}}
            {{#if data.blockValue}}
                <div class="stat-name">
                    {{localize "cd10.armor.blockValue"}}
                </div>
                <div class="armor-statvalue">
                    {{data.blockValue}}
                </div>
            {{/if}}
        </div>
    </div>
    <div class="stat-name" style="text-align:center;">
    {{localize "cd10.sheet.coverage"}}
    </div>
    <div class="armor-statvalue" style="text-align:center;">
        {{#if (eq data.coverage "head")}}
            {{localize "cd10.armor.coverage.head"}}
        {{else if (eq data.coverage "chest")}}
            {{localize "cd10.armor.coverage.chest"}}
        {{else if (eq data.coverage "torso")}}
            {{localize "cd10.armor.coverage.torso"}}
        {{else if (eq data.coverage "torsoArms")}}
            {{localize "cd10.armor.coverage.torsoArms"}}
        {{else if (eq data.coverage "arms")}}
            {{localize "cd10.armor.coverage.arms"}}
        {{else if (eq data.coverage "legs")}}
            {{localize "cd10.armor.coverage.legs"}}
        {{/if}}
    </div>
</div>