<section class="health-info">
  <div class="stat-element">
    <label>
      <h3 class="stattitle">
        {{localize "cd10.injuries.debilitation"}}
      </h3>
    </label>
    <div class="stat-value">
      Placeholder text
    </div>
  </div>
  <div class="stat-element">
    <label>
      <h3 class="stattitle">
        {{localize "cd10.injuries.shock"}}
      </h3>
    </label>
    <input
      name="data.shock.value"
      type="text"
      value="{{data.shock.value}}"
      data-dtype="Number"
    />
  </div>
  <div class="stat-element">
    <label>
      <h3 class="stattitle">
        {{localize "cd10.injuries.wounds"}}
      </h3>
    </label>
    <input
      name="data.wounds.value"
      type="text"
      value="{{data.wounds.value}}"
      data-dtype="Number"
    />
  </div>
</section>