<section class="health-info">
    <div class="stat-element"> 
        <div class="stat-value">
            {{#if (gte data.modifier 1)}}-{{data.modifier}} {{data.debilitationType}}{{else}}No debilitation{{/if}}
        </div>
    </div>
    <div class="stat-element">
        <label>
            <h3 class="stattitle">
                {{localize "cd10.injuries.shock"}} {{data.shock.value}}
            </h3>
        </label>
        <div class="shock-icons">
            {{#times 15}}
                <div class="dot-container {{#if (gte ../data.shock.value @index)}}crossed{{/if}}"> 
                    <i class="fas fa-circle fa-xs"></i>
                </div>
            {{/times}}
        </div>
    </div>
    <div class="stat-element"> <label>
            <h3 class="stattitle">{{localize "cd10.injuries.wounds"}} {{data.wounds.value}}
            </h3>
        </label>
        <div class="wounds-icons">
            {{#times 15}}
                <div class="dot-container {{#if (gte ../data.wounds.value @index)}}crossed{{/if}}"> 
                    <i class="fas fa-circle fa-xs"></i>
                </div>
            {{/times}}
        </div>
    </div>
</section>