<section>
    <h1 class="sheet-header">
        Health
    </h1>
    <div class="statelement">
        <label>
            <h3 class="stattitle">
                {{localize "cd10.injuries.debilitation"}}
            </h3>
        </label>
        <div class="statvalue">
            Placeholder text
        </div>
    </div>
    <div class="statelement">
        <label>
            <h3 class="stattitle">
                {{localize "cd10.injuries.shock"}}
            </h3>
        </label>
        <input name="data.shock.value" type="text" value="{{data.shock.value}}" data-dtype="Number" />
    </div>
    <div class="statelement">
        <label>
            <h3 class="stattitle">
                {{localize "cd10.injuries.wounds"}}
            </h3>
        </label>
        <input name="data.wounds.value" type="text" value="{{data.wounds.value}}" data-dtype="Number" />
    </div>
</section>