<form>
    <div class="flex-column flex-start">
        <section class="complex-check-dialog sheet-card">
            <div>
                <h3>
                    {{localize "cd10.sheet.traitCheck"}}
                </h3>
            </div>
            <div class="flex-column pad-8">
                <label>{{localize "cd10.sheet.select"}} {{localize "cd10.sheet.skill"}}</label>
                <select id="skill-selected" name="skill-selected">
                    <option value="None">{{localize "cd10.sheet.none"}}</option>
                    {{#select skills}}
                    {{#each skills as |skill index|}}
                    <option value="{{index}}">{{skill.name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flex-column pad-8">
                <label>{{localize "cd10.sheet.select"}} {{localize "cd10.sheet.positive"}} {{localize
                    "cd10.sheet.trait"}}</label>
                <select id="pos-trait-selected" name="pos-trait-selected">
                    <option value="None">None</option>
                    {{#select posTraits}}
                    {{#each posTraits as |trait index|}}
                    <option value="{{index}}">{{trait.name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flex-column pad-8">
                <label>{{localize "cd10.sheet.select"}} {{localize "cd10.sheet.negative"}} {{localize
                    "cd10.sheet.trait"}}</label>
                <select id="neg-trait-selected" name="neg-trait-selected">
                    <option value="None">None</option>
                    {{#select negTraits}}
                    {{#each negTraits as |trait index|}}
                    <option value="{{index}}">{{trait.name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flex-row flex-even">
                <div class="flex-column">
                    <label>{{localize "cd10.sheet.heroPoint"}}?</label>
                    <input id="heroPoint" name="heroPoint" type="checkbox" value="off" />
                </div>
                <div class="flex-column">
                    <label>{{localize "cd10.sheet.reverse"}} {{localize "cd10.sheet.trait"}}?</label>
                    <input id="reverseTrait" name="reverseTrait" type="checkbox" value="off" />
                </div>
            </div>
        </section>
    </div>
</form>