<section class="generic-item-info">
    <table>
        <tr>
            <th>
                {{localize "cd10.item.availability"}}
            </th>
            <td>
                <input
                    name="data.availability.value"
                    type="text"
                    value="{{data.availability.value}}"
                    data-dtype="{{data.availability.type}}"
                />
            </td>
            <th>
                {{localize "cd10.item.trader"}}
            </th>
            <td>
                <input
                    name="data.trader.value"
                    type="text"
                    value="{{data.trader.value}}"
                    data-dtype="{{data.trader.type}}"
                />
            </td>
        </tr>
        <tr>
            <th>
                {{localize "cd10.item.tradeGroup"}}
            </th>
            <td>
                <input
                    name="data.tradeGroup.value"
                    type="text"
                    value="{{data.tradeGroup.value}}"
                    data-dtype="{{data.tradeGroup.type}}"
                />
            </td>
            <th>
                {{localize "cd10.item.price"}} ({{localize "cd10.stats.currencyShort"}})
            </th>
            <td>
                <input
                    name="data.price.value"
                    type="text"
                    value="{{data.price.value}}"
                    data-dtype="{{data.price.type}}"
                />
            </td>
        </tr>
        <tr>
            <th>
                {{localize "cd10.item.weight"}}
            </th>
            <td>
                <input
                    name="data.weight.value"
                    type="text"
                    value="{{data.weight.value}}"
                    data-dtype="{{data.weight.type}}"
                />
            </td>
        </tr>
    </table>
</section>