<div class="task-check skill skill-roll-card flex-column flex-start">
    {{#unless (eq skillname "null")}}
    <div>
        <h3>{{skillName}} {{localize "cd10.chat.roll.check"}}</h3>
    </div>
    {{else}}
        <h3>{{localize "cd10.chat.roll.trait"}} {{localize "cd10.chat.roll.check"}}</h3>
    {{/unless}}
    {{#if traitName}}
        {{traitName}} ({{traitValue}})
    {{/if}}
    <div>
        {{{roll}}}
    </div>
</div>