<section class="flex-row flex-between">
    <div class="spell-list flex-column flex-start sheet-card">
        {{#each spells as |spell id|}}
        <div class="attribute-pair inventory-item item flex-row reveal-rollable" data-item-id="{{spell._id}}">
            <div class="attribute-name">
                {{spell.name}}
            </div>
            <input class="attribute-value inline-edit" data-field="data.skillLevel.value"
                data-dtype="{{spell.data.skillLevel.type}}" value="{{spell.data.skillLevel.value}}"
                placeholder="{{localize "cd10.skill.skillLevel"}}" />
            <a class="item-roll hidden rollable task-check" data-type="text" data-action-value="{{skill.data.skillLevel.value}}" title={{localize "cd10.sheet.roll"}}>
                <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.png"/>
            </a>
            <a class="item-delete hidden rollable" data-type="text" title={{localize "cd10.sheet.remove" }}>
                <i class="fas fa-trash"></i>
            </a>
        </div>
        <div class="flex-row flex-start">
            <div>
                <table>
                    <tr>
                        <th>
                            {{localize "cd10.spell.difficulty"}}
                        </th>
                        <td>
                            {{data.difficulty.value}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.cast"}}
                        </th>
                        <td>
                            {{data.cast.value}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.duration"}}
                        </th>
                        <td>
                            {{data.duration.value}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.range"}}
                        </th>
                        <td>
                            {{data.range.value}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.area"}}
                        </th>
                        <td>
                            {{data.area.value}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="spell-description">
                {{{data.description.value}}}
            </div>
        </div>
        <div>
            {{#if data.reagents.value}}
            <div class="spell-reagents">
                {{{data.reagents.value}}}
            </div>
            {{/if}}
        </div>

        {{/each}}
    </div>
</section>