<div class="weapon-card" data-item-id="{{_id}}">
    <div class="weapon-info weapon-name">
        <p>{{name}}</p>
    </div>
    <img 
        src="{{img}}"
        title="{{name}}"
        class="item-img"
    />
    {{#if data.slashDamage}}
    <div class="weapon-stats">
        <div class="stat-name">
            {{localize "cd10.weapon.slashDamage"}}
        </div>
        <div class="weapon-statvalue">
            {{data.slashDamage}}
        </div>
    </div>
    {{/if}}
    {{#if data.pierceDamage}}
    <div class="weapon-stats">
        <div class="stat-name">
            {{localize "cd10.weapon.pierceDamage"}}
        </div>
        <div class="weapon-statvalue">
            {{data.pierceDamage}}
        </div>
        
    </div>
    {{/if}}
    {{#if data.bluntDamage}}
    <div class="weapon-stats">
        <div class="stat-name">
            {{localize "cd10.weapon.bluntDamage"}}
        </div>
        <div class="weapon-statvalue">
            {{data.bluntDamage}}
        </div>
    </div>
    {{/if}}
    {{#if data.energyDamage}}
    <div class="weapon-stats">
        <div class="stat-name">
            {{localize "cd10.weapon.energyDamage"}}
        </div>
        <div class="weapon-statvalue">
            {{data.energyDamage}}
        </div>
       
    </div>
    {{/if}}
    {{#if data.shockDamage}}
    <div class="weapon-stats">
        <div class="stat-name">
            {{localize "cd10.weapon.shockDamage"}}
        </div>
        <div class="weapon-statvalue">
            {{data.shockDamage}}
        </div>
    </div>
    {{/if}}
    {{#if data.blockValue}}
    <div class="weapon-stats">
        <div class="stat-name">
            {{localize "cd10.weapon.blockValue"}}
        </div>
        <div class="weapon-statvalue">
            {{data.blockValue}}
        </div>
    {{/if}}
    </div>
    <div class="weapon-stats">
        <div class="stat-name">
            {{localize "cd10.weapon.reach"}}
        </div>
        <div class="weapon-statvalue">
            {{data.reach}}
        </div>
    </div>
</div>