<div class="task-check attack attack-roll-card flex-col flex-start">
    <div>
        <h3>{{localize "cd10.chat.attack.title" weapon=weapon.name}}</h3>
    </div>
    <div>
        <img class="item-img" src="{{weapon.img}}" title="{{weapon.name}}" />
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box">
            {{localize "cd10.chat.attack.weapon"}} {{localize "cd10.chat.attack.lethality"}}
        </div>
        <div class="value-box">
            {{weaponDamage}}
            {{#if (eq type "slash")}}
            {{localize "cd10.attack.slash"}}
            {{else if (eq type "pierce")}}
            {{localize "cd10.attack.pierce"}}
            {{else if (eq type "blunt")}}
            {{localize "cd10.attack.blunt"}}
            {{else if (eq type "energy")}}
            {{localize "cd10.attack.energy"}}
            {{/if}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box">
            {{skillName}}
        </div>
        <div class="value-box">
            {{actionValue}}
        </div>
     </div>
    <div>
        {{{roll}}}
        {{#if fail}} 
        {{localize "cd10.chat.roll.fail"}}
            {{{fail}}}
        {{/if}}
    </div>
    <div class="spacer"></div>
    {{#if (gte excess 0)}}
    <div class="flex-row flex-between">
        <div class="stat-box">
            {{localize "cd10.chat.attack.excess"}}
        </div>
        <div class="value-box">
            {{excess}}
        </div>
    </div>
    {{/if}}
    <div class="flex-row flex-between">
        <div class="stat-box">
            {{localize "cd10.chat.attack.lethality"}} (
            {{#if (eq type "slash")}}
            {{localize "cd10.attack.slash"}}
            {{else if (eq type "pierce")}}
            {{localize "cd10.attack.pierce"}}
            {{else if (eq type "blunt")}}
            {{localize "cd10.attack.blunt"}}
            {{else if (eq type "energy")}}
            {{localize "cd10.attack.energy"}}
            {{/if}})
        </div>
        <div class="value-box bold">
            {{lethality}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box">
            {{localize "cd10.chat.attack.shock"}}
        </div>
        <div class="value-box bold">
            {{weaponShock}}
        </div>
    </div>
</div>