<div class="skill-check attack-check flex-col flex-start">
  <div>
    <h3>
      {{localize "cd10.chat.attack.title" weapon=weapon.name}}
    </h3>
  </div>
  <div class="cd10-image-container">
    <img class="item-img" src="{{weapon.img}}" title="{{weapon.name}}" />
  </div>
  <div class="flex-row flex-between">
    <div class="stat-box">
      {{localize "cd10.chat.attack.weapon"}}
      {{localize "cd10.chat.attack.lethality"}}
    </div>
    <div class="value-box">
      {{weaponDamage}}
      {{#if (eq type "slash")}}
        {{localize "cd10.attack.slash"}}
      {{else if (eq type "pierce")}}
        {{localize "cd10.attack.pierce"}}
      {{else if (eq type "blunt")}}
        {{localize "cd10.attack.blunt"}}
      {{else if (eq type "energy")}}
        {{localize "cd10.attack.energy"}}
      {{/if}}
    </div>
  </div>
  <div class="flex-row flex-between">
    <div class="stat-box">
      {{skillName}}
    </div>
    <div class="value-box">
      {{skillLevel}}
    </div>
  </div>
  <div>
    {{{roll}}}
  </div>
  {{#unless (eq nines 0)}}
    <div class="flex-row flex-between">
      <div class="stat-box">
        {{localize "cd10.chat.roll.nines"}}
      </div>
      <div class="value-box">
        {{nines}}
      </div>
    </div>
  {{/unless}}
  {{#unless (eq zeroes 0)}}
    <div class="flex-row flex-between">
      <div class="stat-box">
        {{localize "cd10.chat.roll.zeroes"}}
      </div>
      <div class="value-box">
        {{zeroes}}
      </div>
    </div>
  {{/unless}}
  <div class="flex-col flex-start">
    <div class="flex-row flex-between">
      <div class="stat-box">
        {{localize "cd10.chat.roll.total"}}
      </div>
      <div class="value-box">
        {{total}}
      </div>
    </div>
  </div>
  <div class="flex-row flex-between">
    <div class="stat-box">
      {{localize "cd10.chat.attack.lethality"}}
      (
      {{#if (eq type "slash")}}
        {{localize "cd10.attack.slash"}}
      {{else if (eq type "pierce")}}
        {{localize "cd10.attack.pierce"}}
      {{else if (eq type "blunt")}}
        {{localize "cd10.attack.blunt"}}
      {{else if (eq type "energy")}}
        {{localize "cd10.attack.energy"}}
      {{/if}}
      )
    </div>
    <div class="value-box bold">
      {{lethality}}
    </div>
  </div>
</div>