<div class="skill-check physical-save-card save flex-col flex-start">
    <div>
        <h3>{{localize "cd10.chat.defense.title" armor=armor.name}}</h3>
    </div>
    <div>
        <img class="item-img" src="{{armor.img}}" title="{{armor.name}}" />
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.armor.protection"}}
        </div>
        <div class="value-box">
            {{armorDamageProtection}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <h3>
            {{localize "cd10.chat.attack.attack"}}
        </h3>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.chat.attack.lethality"}}
        </div>
        <div class="value-box pad-4">
            {{lethality}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.spell.difficulty"}}
        </div>
        <div class="value-box">
            {{DC}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <h3>
            {{localize "cd10.chat.roll.roll"}}
        </h3>
    </div>
    <div>
        {{{roll}}}
    </div>
    <div class="centered">
        <h3>{{localize "cd10.chat.outcomes.outcome"}} {{saveOutcome}}</h3>
    </div>
    <div>
        <div class="centered">
            {{#if (eq saveOutcome "Fumble")}}
            <h3>
                {{localize "cd10.injuries.finjury"}}
            </h3>
            {{else if (eq saveOutcome "Failure")}}
            <h3>
                {{localize "cd10.injuries.sinjury"}}
            </h3>
            {{else if (eq saveOutcome "StatusQuo")}}
            <h3>
                {{localize "cd10.injuries.sinjury"}}
            </h3>
            {{else if (eq saveOutcome "Success")}}
            <h3>
                {{localize "cd10.injuries.linjury"}}
            </h3>
            {{else if (eq saveOutcome "Perfection")}}
            <h3>
                {{localize "cd10.injuries.scratch"}}
            </h3>
            {{/if}}
        </div>
        {{#unless (eq saveOutcome "Perfection")}}
        <div class="flex-row flex-between">
            <div class="stat-box pad-4">
                {{localize "cd10.injuries.wounds"}}
            </div>
            <div class="value-box pad-4">
                {{wounds}}
            </div>
        </div>
        {{/unless}}

    </div>
</div>