<div class="task-check physical-save-card save flex-col flex-start">
    <div>
        <h3>{{localize "cd10.chat.defense.title" armor=armor.name}}</h3>
    </div>
    <div>
        <img class="item-img" src="{{armor.img}}" title="{{armor.name}}" />
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.armor.protection"}} vs
            {{#if (eq type "slash")}}
            {{localize "cd10.attack.slash"}}
            {{else if (eq type "pierce")}}
            {{localize "cd10.attack.pierce"}}
            {{else if (eq type "blunt")}}
            {{localize "cd10.attack.blunt"}}
            {{else if (eq type "energy")}}
            {{localize "cd10.attack.energy"}}
            {{/if}}
        </div>
        <div class="value-box">
            {{armorDamageProtection}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.injuries.shock"}} {{localize "cd10.armor.protection"}}
        </div>
        <div class="value-box">
            {{armorShockProtection}}
        </div>
    </div>
    {{#if usingShield}}
    <div class="flex-row flex-between">
        <h3>
            {{localize "cd10.armor.shield"}}
        </h3>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.armor.protection"}} vs
            {{#if (eq type "slash")}}
            {{localize "cd10.attack.slash"}}
            {{else if (eq type "pierce")}}
            {{localize "cd10.attack.pierce"}}
            {{else if (eq type "blunt")}}
            {{localize "cd10.attack.blunt"}}
            {{else if (eq type "energy")}}
            {{localize "cd10.attack.energy"}}
            {{/if}}
        </div>
        <div class="value-box">
            {{shieldDamageProtection}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.injuries.shock"}} {{localize "cd10.armor.protection"}}
        </div>
        <div class="value-box">
            {{shieldShockProtection}}
        </div>
    </div>
    {{/if}}
    <div class="flex-row flex-between">
        <h3>
            {{localize "cd10.chat.attack.attack"}}
        </h3>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.chat.attack.lethality"}}
        </div>
        <div class="value-box pad-4">
            {{lethality}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.injuries.shock"}}
        </div>
        <div class="value-box">
            {{shock}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box pad-4">
            {{localize "cd10.spell.difficulty"}}
        </div>
        <div class="value-box">
            {{DC}}
        </div>
    </div>
    <div class="flex-row flex-between">
        <h3>
            {{localize "cd10.chat.roll.roll"}}
        </h3>
    </div>
    <div>
        {{{roll}}}
    </div>
    <div class="centered">
        <h3>{{localize "cd10.chat.outcomes.outcome"}} {{saveOutcome}}</h3>
    </div>
    <div>
        <div class="centered">
            {{#if (eq saveOutcome "Fumble")}}
            <h3>
                {{localize "cd10.injuries.finjury"}}
            </h3>
            {{else if (eq saveOutcome "Failure")}}
            <h3>
                {{localize "cd10.injuries.sinjury"}}
            </h3>
            {{else if (eq saveOutcome "StatusQuo")}}
            <h3>
                {{localize "cd10.injuries.sinjury"}}
            </h3>
            {{else if (eq saveOutcome "Success")}}
            <h3>
                {{localize "cd10.injuries.linjury"}}
            </h3>
            {{else if (eq saveOutcome "Perfection")}}
            <h3>
                {{localize "cd10.injuries.scratch"}}
            </h3>
            {{/if}}
        </div>
        <div class="flex-row flex-between">
            <div class="stat-box pad-4">
                {{localize "cd10.chat.outcomes.final"}} {{localize "cd10.injuries.shock"}}
            </div>
            <div class="value-box pad-4">
                {{shockResult}}
            </div>
        </div>
        {{#unless (eq saveOutcome "Perfection")}}
        <div class="flex-row flex-between">
            <div class="stat-box pad-4">
                {{localize "cd10.injuries.wounds"}}
            </div>
            <div class="value-box pad-4">
                {{wounds}}
            </div>
        </div>
        {{/unless}}

    </div>
</div>