<div class="task-check skill skill-roll-card flex-col flex-start">
    {{#unless initiative}}
    {{#unless (eq skillName null)}}
    <div>
        <h3>{{skillName}} {{localize "cd10.chat.roll.check"}}</h3>
    </div>
    {{else}}
    <h3>{{localize "cd10.chat.roll.trait"}} {{localize "cd10.chat.roll.check"}}</h3>
    {{/unless}}
    {{#if traitName}}
    {{traitName}} ({{traitValue}})
    {{/if}}
    {{else}}
    <div>
        <h3>{{localize "cd10.sheet.initiative"}} {{localize "cd10.chat.roll.check"}}</h3>
    </div>
    <div class="flex-row flex-between">
        <div class="stat-box">
            {{skillName}}
        </div>
        <div class="value-box">
            {{skillLevel}}
        </div>
    </div>
    {{/unless}}
    {{{roll}}}
</div>