<section>
    <div class="character-description-box">
        <h3>
            {{localize "cd10.sheet.bio"}}
        </h3>
        <div class="tablebox">
            <table>
                <tr>
                    <th class="cd10-header">
                        {{localize "cd10.stats.playerName"}}
                    </th>
                    <td>
                        <input name="system.playerName" type="text" value="{{system.playerName}}"
                            placeholder="{{localize "cd10.stats.playerName"}}" />
                    </td>
                    <th class="cd10-header">
                        {{localize "cd10.stats.title"}}
                    </th>
                    <td>
                        <input name="system.title" type="text" value="{{system.title}}"
                            placeholder="{{localize "cd10.stats.title"}}" />
                    </td>
                </tr>
                <tr>
                    <th class="cd10-header">
                        {{localize "cd10.stats.species"}}
                    </th>
                    <td>
                        <input name="system.species" type="text" value="{{system.species}}"
                            data-dtype="text" placeholder="{{localize "cd10.stats.species"}}" />
                    </td>
                    <th class="cd10-header">
                        {{localize "cd10.stats.faith"}}
                    </th>
                    <td>
                        <input name="system.faith" type="text" value="{{system.faith}}"
                            data-dtype="text" placeholder="{{localize "cd10.stats.faith"}}" />
                    </td>
                </tr>
                <tr>
                    <th class="cd10-header">
                        {{localize "cd10.stats.gender"}}
                    </th>
                    <td>
                        <input name="system.gender" type="text" value="{{system.gender}}"
                            data-dtype="text" placeholder="{{localize "cd10.stats.gender"}}" />
                    </td>
                    <th class="cd10-header">
                        {{localize "cd10.stats.sex"}}
                    </th>
                    <td>
                        <input name="system.sex" type="text" value="{{system.sex}}"
                            data-dtype="{{system.sex.type}}" placeholder="{{localize "cd10.stats.sex"}}" />
                    </td>
                </tr>
                <tr>
                    <th class="cd10-header">
                        {{localize "cd10.stats.mainHand"}}
                    </th>
                    <td>
                        <input name="system.mainHand" type="text" value="{{system.mainHand}}"
                            data-dtype="{{system.mainHand.type}}" placeholder="{{localize "cd10.stats.mainHand"}}" />
                    </td>
                    <th class="cd10-header">
                        {{localize "cd10.stats.age"}}
                    </th>
                    <td>
                        <input name="system.age" type="text" value="{{system.age}}"
                            data-dtype="{{system.age.type}}" placeholder="{{localize "cd10.stats.age"}}" />
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="cd10-card-detail">
            <h3>
                {{localize "cd10.stats.appearance"}}
            </h3>
            <div class="sheet-text">
                <textarea name="system.appearance">{{system.appearance}}</textarea>
            </div>
        </div>
        <div class="cd10-card-detail">
            <h3>
                {{localize "cd10.stats.personality"}}
            </h3>
            <div class="sheet-text">
                <textarea name="system.personality">{{system.personality}}</textarea>
            </div>
        </div>
</section>