<section class="health-info">
    {{#if (eq actor.type "mook")}} // FIXME: Remove all references to "mook"
    <div class="flex-row flex-between">
        {{else}}
        <div class="flex-col flex-start">
            {{/if}}
            <div class="stat-element {{#if (eq actor.type "mook")}}mook-health{{/if}}">
                <label>
                    <h3 class="stattitle">
                        {{localize "cd10.sheet.modifier"}} 
                    </h3>
                </label>
                <div class="stat-value{{#if (gte data.wounds.value 15)}} red{{/if}}">
                    {{#if (gte data.wounds.value 15)}}
                    {{data.debilitationType.value}}
                    {{else if (eq data.modifier.value 0)}}
                    0
                    {{else}}
                    -{{data.modifier.value}} {{data.debilitationType.value}}
                    {{/if}}
                    {{! // FIXME: Make this a flag}}
                    {{#if this.actor.system.stressing.value}}
                    ({{localize "cd10.sheet.stressing"}})
                    {{/if}}
                </div>
            </div>
            <div class="stat-element {{#if (eq actor.type "mook")}}mook-health{{/if}}">
                <label>
                    <h3 class="stattitle"><i class="far fa-minus-square remove-wound"></i> {{localize "cd10.injuries.wounds"}} {{data.wounds.value}} <i
                            class="far fa-plus-square add-wound"></i>
                    </h3>
                </label>
                <div class="wounds-icons">
                    {{#times 15}}
                    <div
                        class="dot-container{{#if (gte ../data.wounds.value 15)}} red{{else if (gte ../data.wounds.value @index)}} crossed{{/if}}">
                        <i class="fas fa-circle fa-xs"></i>
                    </div>
                    {{/times}}
                </div>
            </div>
        </div>
</section>