<section class="sheet-combat-tab">
    {{#if equippedMeleeWeapon}}
    <div class="weapon-card sheet-card">
        <h3>{{localize "cd10.sheet.weapon"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                <th>
                    {{localize "cd10.weapon.reach"}}
                </th>
                {{#if (eq @root.damageTypeSetting "simple")}}
                <th>
                    {{localize "cd10.weapon.lethality"}}
                </th>
                {{else}}
                <th>
                    {{localize "cd10.weapon.slashDamage"}}
                </th>
                <th>
                    {{localize "cd10.weapon.pierceDamage"}}
                </th>
                <th>
                    {{localize "cd10.weapon.bluntDamage"}}
                </th>
                {{/if}}
                {{#if (eq @root.damageTypeSetting "complex")}}
                <th>
                    {{localize "cd10.weapon.energyDamage"}}
                </th>
                {{/if}}
                <th>
                    {{localize "cd10.weapon.shockDamage"}}
                </th>
                <th>
                    {{localize "cd10.sheet.equipShort"}}
                </th>
            </tr>
            {{#each meleeWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/meleeWeapon-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{#if equippedRangedWeapon}}
    <div class="weapon-card sheet-card">
        <h3>{{localize "cd10.sheet.rangedWeapon"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                <th>
                    {{localize "cd10.rangedWeapon.rangeClose"}}
                </th>

                <th>
                    {{localize "cd10.rangedWeapon.rangeNormal"}}
                </th>

                <th>
                    {{localize "cd10.rangedWeapon.rangeLong"}}
                </th>
                <th>
                    {{localize "cd10.rangedWeapon.rangeMax"}}
                </th>
                <th>
                    {{localize "cd10.rangedWeapon.ammunition"}}
                </th>
                {{#if modernity}}
                <th>
                    {{localize "cd10.weapon.energyDamage"}}
                </th>
                <th>
                    {{localize "cd10.weapon.shockDamage"}}
                </th>
                {{/if}}
                <th>
                    {{localize "cd10.sheet.equipShort"}}
                </th>
            </tr>
            {{#each rangedWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/rangedWeapon-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{#if equippedArmor}}
    <div class="weapon-card sheet-card">
        <h3>{{localize "cd10.sheet.armor"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                {{#if (eq @root.damageTypeSetting "simple")}}
                <th>
                    {{localize "cd10.armor.protection"}}
                </th>
                {{else}}
                <th>
                    {{localize "cd10.armor.slashProtection"}}
                </th>
                <th>
                    {{localize "cd10.armor.pierceProtection"}}
                </th>
                <th>
                    {{localize "cd10.armor.bluntProtection"}}
                </th>
                {{/if}}
                {{#if (eq @root.damageTypeSetting "complex")}}
                <th>
                    {{localize "cd10.armor.energyProtection"}}
                </th>
                {{/if}}
                <th>
                    {{localize "cd10.armor.shockProtection"}}
                </th>
                <th>
                    {{localize "cd10.sheet.equipShort"}}
                </th>
            </tr>
            {{#each armors as |armor|}}
            {{#if armor.data.isEquipped.value}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{#if equippedShield}}
    <div class="weapon-card sheet-card">
         <h3>{{localize "cd10.sheet.shield"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                <th>
                    {{localize "cd10.armor.defenseValue"}}
                </th>
                {{#if (eq @root.damageTypeSetting "simple")}}
                <th>
                    {{localize "cd10.armor.protection"}}
                </th>
                {{else}}
                <th>
                    {{localize "cd10.armor.slashProtection"}}
                </th>
                <th>
                    {{localize "cd10.armor.pierceProtection"}}
                </th>
                <th>
                    {{localize "cd10.armor.bluntProtection"}}
                </th>
                {{/if}}
                {{#if (eq @root.damageTypeSetting "complex")}}
                <th>
                    {{localize "cd10.armor.energyProtection"}}
                </th>
                {{/if}}
                <th>
                    {{localize "cd10.armor.shockProtection"}}
                </th>
                <th>
                    {{localize "cd10.sheet.equipShort"}}
                </th>
            </tr>
            {{#each shields as |shield|}}
            {{#if shield.data.isEquipped.value}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/shield-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
</section>