<section class="inventory-list sheet-card flex-col flex-start">
    <div class="armor-list flex-col">
        <h3>{{localize "cd10.sheet.currency"}}</h3>
    </div>
    <hr>
    <table>
        <tr>
            <th>
                {{localize "cd10.stats.currency"}}
            </th>
            <td>
                <input name="data.money.value" type="text" value="{{data.money.value}}" data-dtype="{{data.money.type}}"
                    placeholder=0 />
            </td>
        </tr>
    </table>
    {{#if allArmors}}
    <div class="armor-list flex-col">
        <h3>{{localize "cd10.sheet.armors"}}</h3>
        <hr>
        <div class="item-table-data" data-item-id="{{item._id}}">
            <table>
                <colgroup>
                    <col class="five">
                    <col class="fourty">
                    <col class="ten">
                    <col class="ten">
                    <col class="ten">
                    <col class="ten">
                </colgroup>
                <tr>
                    <th></th>
                    <th>
                        {{localize "cd10.sheet.name"}}
                    </th>
                    <th>
                        {{localize "cd10.item.weight"}}
                    </th>
                    {{#if barterSetting}}
                    <th>
                        {{localize "cd10.item.tradeGroup"}}
                    </th>
                    {{else}}
                    <th>
                        {{localize "cd10.item.price"}}
                    </th>
                    {{/if}}
                    <th>
                        {{localize "cd10.sheet.equipShort"}}
                    </th>
                    <th>
                        {{localize "cd10.sheet.removeShort"}}
                    </th>
                </tr>
                {{#each allArmors as |item id|}}
                <tr class="equippable-inventory-item item" data-item-id="{{_id}}">
                    <td>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" height="15" width="15" />
                    </td>
                    <td style="text-align: left;">
                        {{name}}
                    </td>
                    <td>
                        {{item.data.weight.value}} {{localize "cd10.item.weightMarker"}}
                    </td>
                    {{#if ../barterSetting}}
                    <td>
                        G{{item.data.tradeGroup.value}}
                    </td>
                    {{else}}
                    <td>
                        {{item.data.price.value}} {{localize "cd10.stats.currencyShort"}}
                    </td>
                    {{/if}}
                    <td>
                        <a class="item-equip" data-type="text" title={{localize "cd10.sheet.equip" }}>
                            <i class="far fa-{{#if item.data.isEquipped.value}}minus{{else}}plus{{/if}}-square"></i>
                        </a>
                    </td>
                    <td>
                        <a class="item-delete" data-type="text" title={{localize "cd10.sheet.remove" }}>
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{/if}}
    {{#if allWeapons}}
    <div class="weapon-list flex-col">
        <h3>{{localize "cd10.sheet.weapons"}}</h3>
        <hr>
        <div class="item-table-data" data-item-id="{{item._id}}">
            <table>
                <colgroup>
                    <col class="five">
                    <col class="fourty">
                    <col class="ten">
                    <col class="ten">
                    <col class="ten">
                    <col class="ten">
                </colgroup>
                <tr>
                    <th></th>
                    <th>
                        {{localize "cd10.sheet.name"}}
                    </th>
                    <th>
                        {{localize "cd10.item.weight"}}
                    </th>
                    {{#if barterSetting}}
                    <th>
                        {{localize "cd10.item.tradeGroup"}}
                    </th>
                    {{else}}
                    <th>
                        {{localize "cd10.item.price"}}
                    </th>
                    {{/if}}
                    <th>
                        {{localize "cd10.sheet.equipShort"}}
                    </th>
                    <th>
                        {{localize "cd10.sheet.removeShort"}}
                    </th>
                </tr>
                {{#each allWeapons as |item id|}}
                <tr class="equippable-inventory-item item" data-item-id="{{_id}}">
                    <td>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" height="15" width="15" />
                    </td>
                    <td style="text-align: left;">
                        {{name}}
                    </td>
                    <td>
                        {{item.data.weight.value}} {{localize "cd10.item.weightMarker"}}
                    </td>
                    {{#if ../barterSetting}}
                    <td>
                        G{{item.data.tradeGroup.value}}
                    </td>
                    {{else}}
                    <td>
                        {{item.data.price.value}} {{localize "cd10.stats.currencyShort"}}
                    </td>
                    {{/if}}
                    <td>
                        <a class="item-equip" data-type="text" title={{localize "cd10.sheet.equip" }}>
                            <i class="far fa-{{#if item.data.isEquipped.value}}minus{{else}}plus{{/if}}-square"></i>
                        </a>
                    </td>
                    <td>
                        <a class="item-delete" data-type="text" title={{localize "cd10.sheet.remove" }}>
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{/if}}
    {{#if normalItems}}
    <div class="otherItems-list flex-col">
        <h3>{{localize "cd10.sheet.other"}}</h3>
        <hr>
        <div class="item-table-data" data-item-id="{{item._id}}">
            <table>
                <colgroup>
                    <col class="five">
                    <col class="fourty">
                    <col class="ten">
                    <col class="ten">
                    <col class="ten">
                    <col class="ten">
                </colgroup>
                <tr>
                    <th></th>
                    <th>
                        {{localize "cd10.sheet.name"}}
                    </th>
                    <th>
                        {{localize "cd10.item.weight"}}
                    </th>
                    {{#if barterSetting}}
                    <th>
                        {{localize "cd10.item.tradeGroup"}}
                    </th>
                    {{else}}
                    <th>
                        {{localize "cd10.item.price"}}
                    </th>
                    {{/if}}
                    <th>
                        {{localize "cd10.item.count"}}
                    </th>
                    <th>
                        {{localize "cd10.sheet.removeShort"}}
                    </th>
                </tr>
                {{#each normalItems as |item id|}}
                <tr class="inventory-item item" data-item-id="{{_id}}">
                    <td>
                        <img class="item-img" src="{{item.img}}" title="{{item.name}}" height="15" width="15" />
                    </td>
                    <td style="text-align: left;">
                        {{name}}
                    </td>
                    <td>
                        {{item.data.weight.value}} {{localize "cd10.item.weightMarker"}}
                    </td>
                    {{#if ../barterSetting}}
                    <td>
                        G{{item.data.tradeGroup.value}}
                    </td>
                    {{else}}
                    <td>
                        {{item.data.price.value}} {{localize "cd10.stats.currencyShort"}}
                    </td>
                    {{/if}}
                    <td>
                        {{item.data.count.value}}
                    </td>
                    <td>
                        <a class="item-delete" data-type="text" title={{localize "cd10.sheet.remove" }}>
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{/if}}
</section>