<section class="flex-row flex-between">
    <div class="spell-list flex-col flex-start cd10-card ">
        {{#each spells as |spell id|}}
        <div class="attribute-pair inventory-item item flex-row reveal-rollable" data-item-id="{{spell._id}}">
            <div class="attribute-name">
                {{spell.name}}
            </div>
            <input class="attribute-value inline-edit" data-field="system.skillLevel"
                data-dtype="number" value="{{spell.system.skillLevel}}"
                placeholder="{{localize "cd10.skill.skillLevel"}}" />
            <a class="item-roll hidden rollable skill-check" data-type="text" data-action-value="{{spell.system.skillLevel}}" title={{localize "cd10.sheet.roll"}}>
                <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.webp"/>
            </a>
        </div>
        <div class="flex-row flex-start">
            <div>
                <table>
                    <tr>
                        <th>
                            {{localize "cd10.spell.difficulty"}}
                        </th>
                        <td>
                            {{system.difficulty}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.cast"}}
                        </th>
                        <td>
                            {{system.cast}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.duration"}}
                        </th>
                        <td>
                            {{system.duration}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.range"}}
                        </th>
                        <td>
                            {{system.range}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{localize "cd10.spell.area"}}
                        </th>
                        <td>
                            {{system.area}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="spell-description">
                {{{system.description}}}
            </div>
        </div>
        <div>
            {{#if system.reagents}}
            <div class="spell-reagents">
                {{{system.reagents}}}
            </div>
            {{/if}}
        </div>

        {{/each}}
    </div>
</section>