<section class="generic-item-info">
    <table>
        <tr>
            <th>
                {{localize "cd10.item.availability"}}
            </th>
            <td>
                <input name="system.availability" type="text" value="{{system.availability}}"
                    data-dtype="String" />
            </td>
            <th>
                {{localize "cd10.item.trader"}}
            </th>
            <td>
                <input name="system.trader" type="text" value="{{system.trader}}"
                    data-dtype="String" />
            </td>
        </tr>
        {{#if barterSetting}}
        <tr>
            <th>
                {{localize "cd10.item.tradeGroup"}}
            </th>
            <td>
                <input name="system.tradeGroup" type="text" value="{{system.tradeGroup}}"
                    data-dtype="String" />
            </td>
            {{else}}
            <th>
                {{localize "cd10.item.price"}} ({{localize "cd10.stats.currencyShort"}})
            </th>
            <td>
                <input name="system.price" type="text" value="{{system.price}}"
                    data-dtype="Number" />
            </td>
            {{/if}}
            <th>
                {{localize "cd10.item.weight"}}
            </th>
            <td>
                <input name="system.weight" type="text" value="{{system.weight}}"
                    data-dtype="Number" />
            </td>
        </tr>
        <tr>
            <th>{{localize "cd10.item.count"}}</th>
            <td><input name="system.count" type="text" value="{{system.count}}" data-dtype="Number" placeholder=0 /></td>
        </tr>
    </table>

</section>