<section class="small-weapon-armor-stats flex-row flex-even">
    <div class="melee-weapon pad">
        <table>
            <tr>
                <th>{{localize "cd10.weapon.attackWith"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.attackSkill">
                        <option value="None">{{localize "cd10.sheet.none"}}</option>
                        {{#select system.attackSkill}}
                            {{#each worldSkills as |system id|}}
                                <option value="{{system.matchID}}">{{system.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    {{localize "cd10.weapon.damage"}}
                </th>
                <th>
                    {{localize "cd10.weapon.reach"}}
                </th>
            </tr>
            <tr>
                <td>
                    <input name="system.damage" type="text" value="{{system.damage}}" data-dtype="number" />
                </td>
                <td>
                    <select name="system.reach">
                        {{#select system.reach}}
                            {{#each config.reach as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </td>
        </table>
    </div>
</section>