<div class="ranged-weapon pad">
    <table>
        <tr>
            <th>{{localize "cd10.rangedWeapon.attackWith"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeClose"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeNormal"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeLong"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeMax"}}</th>
            <th>{{localize "cd10.rangedWeapon.ammunition"}}</th>
        </tr>
        <tr>
            <td>
                <select name="data.attackSkill.value">
                    {{#select data.attackSkill.value}}
                        {{#each config.combatSkills as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input name="data.range.value.rangeClose" type="text" value="{{data.range.value.rangeClose}}" data-dtype="{{data.range.type}}" />
            </td>
            <td>
                <input name="data.range.value.rangeNormal" type="text" value="{{data.range.value.rangeNormal}}" data-dtype="{{data.range.type}}" />
            </td>
            <td>
                <input name="data.range.value.rangeLong" type="text" value="{{data.range.value.rangeLong}}" data-dtype="{{data.range.type}}" />
            </td>
            <td>
                <input name="data.range.value.rangeMax" type="text" value="{{data.range.value.rangeMax}}" data-dtype="{{data.range.type}}" />
            </td>
            <td>
                <select name="data.ammoGroup.value">
                    {{#select data.ammoGroup.value}}
                        {{#each config.ammunitionTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
        </tr>
    </table>
</div>