<section class="small-weapon-armor-stats flex-row flex-even">
    <table>
        <tr>
            <th>
                {{localize "cd10.skill.teachableYes"}}
            </th>
            <th>
                {{localize "cd10.sheet.category"}}
            </th>
            <th>
                {{localize "cd10.skill.range"}}
            </th>
        </tr>
        <tr>
            <td>
                <input name="system.teachable" type="checkbox" {{checked system.teachable}} data-dtype="Boolean"/>
            </td>
            <td>
                <select name="system.skillCategory" id="system.skillCategory">
                    {{selectOptions config.skillCategories selected=system.skillCategory localize=true}}
                </select>
            </td>
            <td>
                {{system.skillLevel.min}} - {{system.skillLevel.max}}
            </td>
        </tr>
    </table>
</section>