<div class="ranged-weapon pad">
    <table>
        <tr>
            <th>{{localize "cd10.rangedWeapon.attackWith"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeClose"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeNormal"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeLong"}}</th>
            <th>{{localize "cd10.rangedWeapon.rangeMax"}}</th>
            <th>{{localize "cd10.rangedWeapon.ammunition"}}</th>
        </tr>
        <tr>
            <td>
                <select name="system.attackSkill">
                    <option value="None">{{localize "cd10.sheet.none"}}</option>
                    {{#select system.attackSkill}}
                        {{#each worldSkills as |system id|}}
                            <option value="{{system.matchID}}">{{system.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input name="system.range.rangeClose" type="text" value="{{system.range.rangeClose}}"
                       data-dtype="Number" />
            </td>
            <td>
                <input name="system.range.rangeNormal" type="text" value="{{system.range.rangeNormal}}"
                       data-dtype="Number" />
            </td>
            <td>
                <input name="system.range.rangeLong" type="text" value="{{system.range.rangeLong}}"
                       data-dtype="Number" />
            </td>
            <td>
                <input name="system.range.rangeMax" type="text" value="{{system.range.rangeMax}}" data-dtype="Number" />
            </td>
            <td>
                <select name="system.ammoGroup">
                    {{#select system.ammoGroup}}
                        {{#each config.ammunitionTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
        </tr>
    </table>
    {{#if modernity}}
        <table>
            <tr>
                <th>{{localize "cd10.rangedWeapon.accuracy"}}</th>
                <th>{{localize "cd10.rangedWeapon.magazine"}}</th>
                <th>{{localize "cd10.rangedWeapon.burst"}}</th>
                <th>{{localize "cd10.rangedWeapon.fullAuto"}}</th>
            </tr>
            <tr>
                <td><input name="system.accuracy" type="text" value="{{system.accuracy}}" data-dtype="Number" /></td>
                <td><input name="system.magazine" type="text" value="{{system.magazine}}" data-dtype="Number" /></td>
                <td><input name="system.rof.burst" type="text" value="{{system.rof.burst}}" data-dtype="Number" /></td>
                <td><input name="system.rof.fullAuto" type="text" value="{{system.rof.fullAuto}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    {{/if}}
</div>