<section class="{{#if inSheet}}cd10-card{{else}}cd10-card-detai{{/if}} cd10-item-card equippable-inventory-item" data-item-id="{{system.id}}">
    {{#if inSheet}}
    <div class="flex-row">
    {{/if}}
        <img class="item-img cd10-card-detail {{#if inSheet}}w-40{{/if}}" src="{{img}}" title="{{name}}"/>
        <div class="cd10-card-detail {{#if inSheet}}w-100{{/if}}">
            <h3 class="cd10-item-name">{{name}}</h3>
            <hr>
            <div class="flex-col">
                <div class="flex-row">
                    <div class="w-50 cd10-card-detail cd10-item-statname">
                        {{localize "cd10.armor.protection"}}
                    </div>
                    <div class="w-50 cd10-card-detail cd10-item-statvalue">
                        {{system.protection}}
                    </div>
                </div>
            </div>
        </div>
    {{#if inSheet}}
    </div>
    {{/if}}
    {{#unless inSheet}}
    <div class="cd10-card-detail pad-8">
        {{system.description}}
    </div>
    {{/unless}}
</section>