<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    <img class="item-img display-inline" src="{{img}}" title="{{name}}" height="15" width="15" />
</td>
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{name}}
</td>
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{localize (concat "cd10.reach." system.reach)}}
</td>
<td class="reveal-rollable item equippable-inventory-item" data-item-id="{{_id}}">
    <a class="attack-check item-roll hidden rollable" title={{localize "cd10.sheet.roll"}}>
        <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.webp" />
    </a>
    {{system.damage}}
</td>
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    <a class="item-equip" data-type="text" title={{localize "cd10.sheet.equip" }}>
        <i class="far fa-{{#if system.isEquipped.value}}minus{{else}}plus{{/if}}-square"></i>
    </a>
</td>