<section class="{{#if inSheet}}cd10-card{{else}}cd10-card-detai{{/if}} litem-card weapon-card equippable-inventory-item" data-item-id="{{system.id}}">
    {{log this}}
    {{#if inSheet}}
    <div class="flex-row">
    {{/if}}
        <img class="item-img cd10-card-detail {{#if inSheet}}w-40{{/if}}" src="{{img}}" title="{{name}}"/>
        <div class="cd10-card-detail {{#if inSheet}}w-100{{/if}}">
            <h3 class="weapon-name">{{name}}</h3>
            <hr>
            <div class="flex-col">
                <div class="flex-row">
                    <div class="w-50 cd10-card-detail">
                        {{localize "cd10.weapon.lethality"}}
                    </div>
                    <div class="w-50 cd10-card-detail align-center" style="text-align: right;">
                        {{system.damage}}
                    </div>
                </div>
                <div class="flex-row">
                    <div class="w-50 cd10-card-detail">
                        {{localize "cd10.weapon.reach"}}
                    </div>
                    <div class="w-50 cd10-card-detail" style="text-transform: capitalize; text-align: right;">
                        {{system.reach}}
                    </div>
                </div>
            </div>
        </div>
    {{#if inSheet}}
    </div>
    {{/if}}
    {{#unless inSheet}}
    <div class="cd10-card-detail pad-8">
        {{system.description}}
    </div>
    {{/unless}}
</section>