<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    <img class="item-img display-inline" src="{{img}}" title="{{name}}" height="15" width="15" />
</td>
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{name}}
</td>
<td>
    {{data.defenseValue.value}}
</td>
{{#if (eq @root.damageTypeSetting "simple")}}
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{#highest data.protection.slash.value data.protection.blunt.value data.protection.pierce.value
    data.protection.energy.value}}{{/highest}}
</td>
{{else}}
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{data.protection.slash.value}}
</td>
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{data.protection.pierce.value}}
</td>
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{data.protection.blunt.value}}
</td>
{{/if}}
{{#if (eq @root.damageTypeSetting "complex")}}
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{data.protection.energy.value}}
</td>
{{/if}}
<td class="item equippable-inventory-item" data-item-id="{{_id}}">
    {{data.protection.shock.value}}
</td>