<div class="weapon-card cd10-card flex-col item" data-item-id="{{_id}}">
    <div class="weapon-info weapon-name cd10-card-detail pad-8">
        <p><a class="item-equip" data-type="text">
                <i class="far fa-{{#if this.data.isEquipped.value}}check-{{/if}}square"></i>
            </a>
            {{name}}</p>
    </div>
    <div class="flex-row flex-start image-stats-box">
        <div class="weapon-box cd10-card-detail pad-8">
            
            <div class="weapon-stats reveal-rollable">
                <div class="stat-name">
                    {{localize "cd10.weapon.damage"}}
                </div>
                <div class="weapon-statvalue">
                    {{system.damage}}
                    <a class="attack-check item-roll hidden rollable" title={{localize "cd10.sheet.roll"}}>
                        <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.webp" />
                    </a>
                </div>
            </div>
            <div class="weapon-stats">
                <div class="stat-name">
                    {{localize "cd10.weapon.reach"}}
                </div>
                <div class="weapon-statvalue">
                     {{localize (concat "cd10.reach." system.reach)}}
                </div>
            </div>
        </div>
    </div>
</div>