<div class="weapon-card sheet-card flex-col item" data-item-id="{{_id}}">
    <div class="weapon-info weapon-name dark-background pad-8">
        <p><a class="item-equip" data-type="text">
                <i class="far fa-{{#if data.isEquipped.value}}check-{{/if}}square"></i>
            </a>
            {{name}}</p>
    </div>
    <div class="flex-row flex-start">
        <div class="ammo-box dark-background pad-8">
            {{localize "cd10.rangedWeapon.ammunition"}}
            <hr>
            <div class="flex-col">
                {{#each @root.ammunition as |ammo|}}
                    <div class="flex-row ammo-selector item" data-item-id="{{ammo._id}}" data-weapon-id="{{../_id}}">
                        <a class="ammo-select" data-type="text" >
                            <i class="far fa-{{#if (eq ../data.selectedAmmo.value ammo.name)}}check-{{/if}}square"></i>
                        </a>
                        {{ammo.name}}
                        <a class="item-delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="weapon-box dark-background pad-8">
            <div class="weapon-stats reveal-rollable">
                <div class="stat-name">
                    {{localize "cd10.chat.attack.attack"}}
                </div>
                <div class="weapon-statvalue">
                    <a class="attack-check item-roll item-roll hidden rollable" data-damage-type="slash"
                        title={{localize "cd10.sheet.roll" }}>
                        <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.png" />
                    </a>
                </div>
            </div>
            <div class="weapon-stats">
                <div class="stat-name">
                    {{localize "cd10.rangedWeapon.rangeClose"}}
                </div>
                <div class="weapon-statvalue">
                    {{data.range.value.rangeClose}}
                </div>
            </div>
            <div class="weapon-stats">
                <div class="stat-name">
                    {{localize "cd10.rangedWeapon.rangeNormal"}}
                </div>
                <div class="weapon-statvalue">
                    {{data.range.value.rangeNormal}}
                </div>
            </div>
            <div class="weapon-stats">
                <div class="stat-name">
                    {{localize "cd10.rangedWeapon.rangeLong"}}
                </div>
                <div class="weapon-statvalue">
                    {{data.range.value.rangeLong}}
                </div>
            </div>
            <div class="weapon-stats">
                <div class="stat-name">
                    {{localize "cd10.rangedWeapon.rangeMax"}}
                </div>
                <div class="weapon-statvalue">
                    {{data.range.value.rangeMax}}
                </div>
            </div>
        </div>
    </div>
</div>