<form class="{{cssClass}}" autocomplete="off">
    <div class="cd10-sheet flex-col flex-start">
        <div class="flex-row flex-between header-box">
            <div class="flex-col flex-start title-box">
                <h1>
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "cd10.stats.name"}}" />
                </h1>
                <div class="body-box flex-col flex-start">
                    <h3 class="sheet-header">{{localize "cd10.sheet.health"}}
                    </h3>
                    <div class="mook-health">
                    {{> "systems/cd10/templates/partials/sheet-tabs/character-stat-block.hbs"}}
                    </div>
                    <div class="margin-bottom">
                        {{> "systems/cd10/templates/partials/sheet-tabs/skill-list.hbs"}}
                    </div>
                    <hr>
                    <div class="quote">
                        <textarea name="system.quote.value">{{system.quote}}</textarea>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="flex-col flex-center pad-4">
                <div class="image-box">
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="actor-image" />
                </div>
                <div class="cd10-card">
                    <div class="cd10-button">
                        <a class="physical-save flex-row flex-even pad-top" title={{localize "cd10.sheet.roll" }}>
                            <div class="d10-roll-icon">
                                <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.webp" />
                            </div>
                            <div>
                                <h3 class="sheet-header">
                                    {{localize "cd10.sheet.save"}}
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="cd10-button">
                        <a class="cd10-roll-initiative flex-row flex-even pad-top" title={{localize "cd10.sheet.roll" }}>
                            <div class="d10-roll-icon">
                                <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.webp" />
                            </div>
                            <div>
                                <h3 class="sheet-header">
                                    {{localize "cd10.sheet.initiative"}}
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="cd10-button stressBox stressBoxContainer flex-even flex-row pad-8">
                        <div class="stressBoxSelect"> {{!// FIXME: Make this a flag}}
                            <i class="far fa-{{#if this.actor.system.stressing.value}}check-{{/if}}square"></i>
                        </div>
                        <div>
                            <h3 class="sheet-header">
                                {{localize "cd10.sheet.stress"}}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="sheet-combat-tab">
    {{#if equippedMeleeWeapon}}
    <div class="weapon-card cd10-card ">
        <h3>{{localize "cd10.sheet.weapon"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                <th>
                    {{localize "cd10.weapon.reach"}}
                </th>
                <th>
                    {{localize "cd10.weapon.lethality"}}
                </th>
                <th>
                    {{localize "cd10.sheet.equipShort"}}
                </th>
            </tr>
            {{#each meleeWeapons as |weapon|}}
            {{#if weapon.system.isEquipped}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/meleeWeapon-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{#if equippedRangedWeapon}}
    <div class="weapon-card cd10-card ">
        <h3>{{localize "cd10.sheet.rangedWeapon"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                <th>
                    {{localize "cd10.rangedWeapon.rangeClose"}}
                </th>

                <th>
                    {{localize "cd10.rangedWeapon.rangeNormal"}}
                </th>

                <th>
                    {{localize "cd10.rangedWeapon.rangeLong"}}
                </th>
                <th>
                    {{localize "cd10.rangedWeapon.rangeMax"}}
                </th>
                <th>
                    {{localize "cd10.rangedWeapon.ammunition"}}
                </th>
                {{#if modernity}}
                <th>
                    {{localize "cd10.weapon.energyDamage"}}
                </th>
                {{/if}}
                <th>
                    {{localize "cd10.sheet.equipShort"}}
                </th>
            </tr>
            {{#each rangedWeapons as |weapon|}}
            {{#if weapon.system.isEquipped}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/rangedWeapon-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{#if equippedArmor}}
    <div class="weapon-card cd10-card ">
        <h3>{{localize "cd10.sheet.armor"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                <th>
                    {{localize "cd10.armor.protection"}}
                </th>
            </tr>
            {{#each armors as |armor|}}
            {{#if armor.system.isEquipped}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
    {{#if equippedShield}}
    <div class="weapon-card cd10-card ">
         <h3>{{localize "cd10.sheet.shield"}}</h3>
        <table>
            <tr>
                <th></th>
                <th>
                    {{localize "cd10.stats.name"}}
                </th>
                <th>
                    {{localize "cd10.armor.defenseValue"}}
                </th>
                <th>
                    {{localize "cd10.armor.protection"}}
                </th>
                <th>
                    {{localize "cd10.sheet.equipShort"}}
                </th>
            </tr>
            {{#each shields as |shield|}}
            {{#if shield.system.isEquipped}}
            <tr>
                {{> "systems/cd10/templates/partials/equipment-cards/shield-card.hbs"}}
            </tr>
            {{/if}}
            {{/each}}
        </table>
    </div>
    {{/if}}
</section>
</form>