<form class="{{cssClass}}" autocomplete="off">
    <div class="cd10-sheet flex-column flex-start">
        <div class="flex-row flex-between header-box">
            <div class="flex-column flex-center title-box">
                <h1>
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "
                        cd10.stats.name"}}" />
                </h1>
                <div class="character-stats">
                    <h3 class="sheet-header">{{localize "cd10.sheet.health"}}
                    </h3>
                    {{> "systems/cd10/templates/partials/sheet-tabs/character-stat-block.hbs"}}
                </div>
            </div>
            <div class="flex-column flex-center pad-4">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="actor-image" />
                <div class="button">
                    <a class="physical-save flex-row flex-even pad-top" title={{localize "cd10.sheet.roll" }}>
                        <div class="d10-roll-icon">
                            <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.png" />
                        </div>
                        <div>
                            <h3 class="sheet-header">
                                {{localize "cd10.sheet.save"}}
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="button stressBox stressBoxContainer flex-even flex-row pad-8">
                    <div class="stressBoxSelect">
                        <i class="far fa-{{#if this.actor.data.data.stressing.value}}check-{{/if}}square"></i>
                    </div>
                    <div>
                        <h3 class="sheet-header">
                            {{localize "cd10.sheet.stress"}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="quote">
            <textarea name="data.quote.value">{{data.quote.value}}</textarea>
        </div>
        <hr>
        <div class="body-box flex-column flex-start">
            <div class="sheet-card flex-row flex-even">
                <div>{{localize "cd10.sheet.positive"}}: {{data.posTraits.value}}</div>
                <div>{{localize "cd10.sheet.negative"}}: {{data.negTraits.value}}</div>
                <div>{{localize "cd10.sheet.total"}}: {{data.traitsValue.value}}</div>
            </div>
            <div>
                {{> "systems/cd10/templates/partials/sheet-tabs/skill-list.hbs"}}
            </div>
        </div>
    </div>
    <hr>
    <section class="sheet-combat-tab">
        <div class="weapon-card sheet-card">
            <h3>{{localize "cd10.sheet.weapon"}}</h3>
            <table>
                <tr>
                    <th></th>
                    <th>
                        {{localize "cd10.stats.name"}}
                    </th>
                    <th>
                        {{localize "cd10.weapon.reach"}}
                    </th>
                    {{#if (eq @root.damageTypeSetting "simple")}}
                    <th>
                        {{localize "cd10.weapon.lethality"}}
                    </th>
                    {{else}}
                    <th>
                        {{localize "cd10.weapon.slashDamage"}}
                    </th>
                    <th>
                        {{localize "cd10.weapon.pierceDamage"}}
                    </th>
                    <th>
                        {{localize "cd10.weapon.bluntDamage"}}
                    </th>
                    {{/if}}
                    {{#if (eq @root.damageTypeSetting "complex")}}
                    <th>
                        {{localize "cd10.weapon.energyDamage"}}
                    </th>
                    {{/if}}
                    <th>
                        {{localize "cd10.weapon.shockDamage"}}
                    </th>
                    <th>
                        {{localize "cd10.sheet.equipShort"}}
                    </th>
                </tr>
                {{#each meleeWeapons as |weapon|}}
                <tr>
                    {{> "systems/cd10/templates/partials/equipment-cards/weapon-card.hbs"}}
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="weapon-card sheet-card">
            <h3>{{localize "cd10.sheet.rangedWeapon"}}</h3>
            <table>
                <tr>
                    <th></th>
                    <th>
                        {{localize "cd10.stats.name"}}
                    </th>
                    <th>
                        {{localize "cd10.rangedWeapon.rangeClose"}}
                    </th>

                    <th>
                        {{localize "cd10.rangedWeapon.rangeNormal"}}
                    </th>

                    <th>
                        {{localize "cd10.rangedWeapon.rangeLong"}}
                    </th>
                    <th>
                        {{localize "cd10.rangedWeapon.rangeMax"}}
                    </th>
                    <th>
                        {{localize "cd10.rangedWeapon.ammunition"}}
                    </th>
                    {{#if modernity}}
                    <th>
                        {{localize "cd10.weapon.energyDamage"}}
                    </th>
                    <th>
                        {{localize "cd10.weapon.shockDamage"}}
                    </th>
                    <th>
                        {{localize "cd10.sheet.equipShort"}}
                    </th>
                    {{/if}}
                </tr>
                {{#each rangedWeapons as |weapon|}}
                <tr>
                    {{> "systems/cd10/templates/partials/equipment-cards/rangedWeapon-card.hbs"}}
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="weapon-card sheet-card">
            <h3>{{localize "cd10.sheet.armor"}}</h3>
            <table>
                <tr>
                    <th></th>
                    <th>
                        {{localize "cd10.stats.name"}}
                    </th>
                    {{#if (eq @root.damageTypeSetting "simple")}}
                    <th>
                        {{localize "cd10.armor.protection"}}
                    </th>
                    {{else}}
                    <th>
                        {{localize "cd10.armor.slashProtection"}}
                    </th>
                    <th>
                        {{localize "cd10.armor.pierceProtection"}}
                    </th>
                    <th>
                        {{localize "cd10.armor.bluntProtection"}}
                    </th>
                    {{/if}}
                    {{#if (eq @root.damageTypeSetting "complex")}}
                    <th>
                        {{localize "cd10.armor.energyProtection"}}
                    </th>
                    {{/if}}
                    <th>
                        {{localize "cd10.armor.shockProtection"}}
                    </th>
                    <th>
                        {{localize "cd10.sheet.equipShort"}}
                    </th>
                </tr>
                {{#each armors as |armor|}}
                <tr>
                    {{> "systems/cd10/templates/partials/equipment-cards/armor-card.hbs"}}
                </tr>
                {{/each}}
            </table>
        </div>
        <div class="weapon-card sheet-card">
            <h3>{{localize "cd10.sheet.shield"}}</h3>
            <table>
                <tr>
                    <th></th>
                    <th>
                        {{localize "cd10.stats.name"}}
                    </th>
                    <th>
                        {{localize "cd10.armor.defenseValue"}}
                    </th>
                    {{#if (eq @root.damageTypeSetting "simple")}}
                    <th>
                        {{localize "cd10.armor.protection"}}
                    </th>
                    {{else}}
                    <th>
                        {{localize "cd10.armor.slashProtection"}}
                    </th>
                    <th>
                        {{localize "cd10.armor.pierceProtection"}}
                    </th>
                    <th>
                        {{localize "cd10.armor.bluntProtection"}}
                    </th>
                    {{/if}}
                    {{#if (eq @root.damageTypeSetting "complex")}}
                    <th>
                        {{localize "cd10.armor.energyProtection"}}
                    </th>
                    {{/if}}
                    <th>
                        {{localize "cd10.armor.shockProtection"}}
                    </th>
                    <th>
                        {{localize "cd10.sheet.equipShort"}}
                    </th>
                </tr>
                {{#each shields as |shield|}}
                <tr>
                    {{> "systems/cd10/templates/partials/equipment-cards/shield-card.hbs"}}
                </tr>
                {{/each}}
            </table>
        </div>
    </section>
</form>