<form class="{{cssClass}}" autocomplete="off">
    <div class="topsheet">
        <div>
            <header class="sheet-header">
                <h1>
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "cd10.stats.name"}}" />
                </h1>
            </header>
            {{> "systems/cd10/templates/partials/character-description-block.hbs"}}
        </div>
        <div class="sidebar">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="actor-image" />
            <div class="stats-and-weapons">
                {{> "systems/cd10/templates/partials/character-stat-block.hbs"}}
            </div>
        </div>
    </div>
</form>