<form class="{{cssClass}} flex-row flex-between" autocomplete="off">
    {{!-- Main Content Box --}}
    <div class="sheet-main-content flex-column flex-start">
        <div class="head-contentbox">
            <h1>
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize " cd10.stats.name"}}" />
            </h1>
        </div>
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="biography">{{localize "cd10.sheet.bio"}}</a>
            <a class="item" data-tab="skills">{{localize "cd10.sheet.skills"}}</a>
            <a class="item" data-tab="combat">{{localize "cd10.sheet.combat"}}</a>
            {{#if spells}}
            <a class="item" data-tab="spells">{{localize "cd10.sheet.spells"}}</a>
            {{/if}}
            <a class="item" data-tab="inventory">{{localize "cd10.sheet.inventory"}}</a>
            <a class="item" data-tab="notes">{{localize "cd10.sheet.notes"}}</a>
        </nav>
        <section id="tabs" class="sheet-body">
            {{!-- Biography Tab --}}
            <div class="tab sheet-bio sheet-card" data-group="primary" data-tab="biography">
                {{> "systems/cd10/templates/partials/sheet-tabs/character-description-block.hbs"}}
            </div>

            {{!-- Skills Tab --}}
            <div class="tab sheet-skills" data-group="primary" data-tab="skills">
                <div class="sheet-card">
                    <table>
                        <colgroup>
                            <col class="fifty">
                            <col class="fifteen">
                            <col class="fifteen">
                            <col class="twenty">
                        </colgroup>
                        <tr>
                            <th>{{localize "cd10.stats.exp"}}</th>
                            <th>{{localize "cd10.sheet.positive"}}</th>
                            <th>{{localize "cd10.sheet.negative"}}</th>
                            <th>{{localize "cd10.sheet.total"}}</th>
                        </tr>
                        <tr>
                            <td><input name="data.exp.total" type="text" value="{{data.exp.total}}"
                                    data-dtype="{{data.exp.type}}" placeholder="{{localize " cd10.stats.exp"}}" />
                            </td>
                            <td>{{data.posTraits.value}}</td>
                            <td>{{data.negTraits.value}}</td>
                            <td>{{data.traitsValue.value}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    {{> "systems/cd10/templates/partials/sheet-tabs/skill-list.hbs"}}
                </div>
            </div>

            {{!-- Combat Tab --}}
            <div class="tab sheet-combat" data-group="primary" data-tab="combat">
                {{> "systems/cd10/templates/partials/sheet-tabs/combat-tab.hbs"}}
            </div>
            {{!-- Spells Tab --}}
            <div class="tab sheet-spells" data-group="primary" data-tab="spells">
                {{> "systems/cd10/templates/partials/sheet-tabs/spell-list.hbs"}}
            </div>
            {{!-- Inventory Tab --}}
            <div class="tab sheet-inventory" data-group="primary" data-tab="inventory">
                {{> "systems/cd10/templates/partials/sheet-tabs/inventory-list.hbs"}}
            </div>
            {{!-- Notes Tab --}}
            <div class="tab sheet-notes" data-group="primary" data-tab="notes">
                <div class="sheet-card">
                    {{editor
                    content=data.notes.value
                    target="data.notes.value"
                    button=true
                    owner=owner
                    editable=editable}}
                </div>
            </div>
        </section>
    </div>
    {{!-- Main Sidebar --}}
    <div class="sheet-sidebar flex-column flex-start">
        <div class="image-box">
            <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200"
                width="200" />
        </div>
        <div class="sheet-health sheet-card">
            <h3>
                {{localize "cd10.sheet.health"}}
            </h3>
            {{> "systems/cd10/templates/partials/sheet-tabs/character-stat-block.hbs"}}
        </div>
        <div class="button">
            <a class="physical-save flex-row flex-even pad-top" title={{localize "cd10.sheet.roll" }}>
                <div class="d10-roll-icon">
                    <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.png" />
                </div>
                <div>
                    <h3 class="sheet-header">
                        {{localize "cd10.sheet.save"}}
                    </h3>
                </div>
            </a>
        </div>
        <div class="button stressBox stressBoxContainer flex-even flex-row pad-8">
            <div class="stressBoxSelect">
                <i class="far fa-{{#if this.actor.data.data.stressing.value}}check-{{/if}}square"></i>
            </div>
            <div>
                <h3 class="sheet-header">
                    {{localize "cd10.sheet.stress"}}
                </h3>
            </div>
        </div>
        <div class="button initiative-select initiativeBox flex-even flex-row pad-8">
            <div class="d10-roll-icon">
                <img class="d10-roll-icon" src="/systems/cd10/assets/icons/roll_cd10.png" />
            </div>
            <div>
                <h3 class="sheet-header">
                    {{localize "cd10.sheet.initiative"}}
                </h3>
            </div>
        </div>
    </div>
</form>