<form class="{{cssClass}} flex-row flex-between" autocomplete="off">
    {{!-- Main Content Box --}}
    <div class="sheet-main-content flex-column flex-start">
        <div class="head-contentbox">
            <h1>
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize " cd10.stats.name"}}" />
            </h1>
        </div>
    </div>
    {{!-- Main Sidebar --}}
    <div class="sheet-sidebar flex-column flex-start">
        <div class="image-box">
            <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200"
                width="200" />
        </div>
        <div class="sheet-health">
            <h3>
                {{localize "cd10.sheet.health"}}
            </h3>
            {{> "systems/cd10_dev/templates/partials/character-stat-block.hbs"}}
        </div>
        <div class="sheet-money">
            <h3 class="sheet-header">
                {{localize "cd10.stats.money"}}
            </h3>
            <div class="sheet-money-input flex-row flex-center">
                <div>
                    <input name="data.money.value" type="text" value="{{data.money.value}}"
                        data-dtype="{{data.money.type}}" placeholder=0 />
                </div>
                <div class="money">
                    {{localize "cd10.stats.currency"}}
                </div>
            </div>
        </div>
    </div>
</form>