<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize "cd10.stats.name" }}" /></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "cd10.armor.slashProtection"}}</th>
                <th>{{localize "cd10.armor.pierceProtection"}}</th>
                <th>{{localize "cd10.armor.bluntProtection"}}</th>
                <th>{{localize "cd10.armor.energyProtection"}}</th>
                <th>{{localize "cd10.armor.shockProtection"}}</th>
                <th>{{localize "cd10.weapon.blockValue"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.slashProtection" type="text" value="{{data.slashProtection}}" data-dtype=" Number" />
                </td>
                <td>
                    <input name="data.pierceProtection" type="text" value="{{data.pierceProtection}}" data-dtype=" Number" />
                </td>
                <td>
                    <input name="data.bluntProtection" type="text" value="{{data.bluntProtection}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.energyProtection" type="text" value="{{data.energyProtection}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.shockProtection" type="text" value="{{data.shockProtection}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.blockValue" type="text" value="{{data.blockValue}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>