<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet-header">
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "cd10.skill.name"}}" />
        </h1>
    </div>
    <hr>
    <div class="item-sheet-main-content flex-row flex-evenly">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="generic-info-box cd10-card-detail pad-8">
            <div class="editor-box">
                <textarea name="system.description">{{system.description}}</textarea>
            </div>
        </div>
    </div>
    <div class="weapon-and-armor-stats cd10-card ">
        {{> "systems/cd10/templates/partials/item-sheet-components/small-spell-stats.hbs" this }}
    </div>
    <div>
        {{localize "cd10.spell.reagents"}}
        <div class="editor-box cd10-card-detail">
            <textarea name="system.reagents">{{system.reagents}}</textarea>
        </div>
    </div>
</form>